<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
<script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="ajaxcart">
      <div class="ajaxcart-bd">
        {{#items}}
          <div class="ajaxcart__row" data-line="{{line}}">
            <div class="flex--start-between">
              <a class="ajaxcart__item-image" href="{{url}}">
                <img src="{{img}}" alt="{{name}}">
              </a>

              <div class="ajaxcart__item-bd">
                <div class="flex--start-between flex-wrap--wrap">
                <p class="ajaxcart__item-title"><a href="{{url}}">{{name}}</a></p>

                <button class="ajaxcart__btn-remove" data-id="{{#if variantId}}{{variantId}}{{/if}}">X</button>
                <p class="ajaxcart__item-meta hide">{{vendor}}</p>
                {{#if variation}}
                  <p class="ajaxcart__item-meta">{{variation}}</p>
                {{/if}}
                <div class="ajaxcart__qty">
                  <button class="ajaxcart__qty-adjust ajaxcart__qty-minus" data-id="{{key}}" data-line="{{line}}">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg class="icon icon-arrow-down" width="7px" height="4px" viewBox="0 0 7 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Product-Page-Mock-V2" transform="translate(-926.000000, -520.000000)" fill="#000000">
                                <g id="Group-13" transform="translate(819.000000, 484.000000)">
                                    <g id="Group-11" transform="translate(63.000000, 0.000000)">
                                        <g id="Group-10" transform="translate(44.000000, 13.000000)">
                                            <polygon id="Arrow-Down" transform="translate(3.433860, 25.000000) rotate(-270.000000) translate(-3.433860, -25.000000) " points="2.49766544 22 1.67705041 22.9181034 3.53788167 25 1.67705041 27.0818966 2.49766544 28 5.19066968 25"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </button>
                  <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*" autocomplete="off">
                  <button class="ajaxcart__qty-adjust ajaxcart__qty-plus" data-id="{{key}}" data-line="{{line}}">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg class="icon icon-arrow-up" width="7px" height="4px" viewBox="0 0 7 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Product-Page-Mock-V2" transform="translate(-926.000000, -497.000000)" fill="#000000">
                                <g id="Group-13" transform="translate(819.000000, 484.000000)">
                                    <g id="Group-11" transform="translate(63.000000, 0.000000)">
                                        <g id="Group-10" transform="translate(44.000000, 13.000000)">
                                            <polygon id="Arrow-Up" transform="translate(3.433860, 2.000000) scale(1, -1) rotate(-270.000000) translate(-3.433860, -2.000000) " points="2.49766544 -1 1.67705041 -0.0818965517 3.53788167 2 1.67705041 4.08189655 2.49766544 5 5.19066968 2"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </button>
                </div>
                
                <p class="ajaxcart__item-price">
                  {{#if discountsApplied}}
                    <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                    <br><span>{{{linePrice}}}</span>                 
                  {{else}}
                    <span>{{{linePrice}}}</span>       
                  {{/if}}
                </p>

                {{#if discountsApplied}}
                  <p class="ajaxcart-item__discount">
                    {{#each discounts}}
                      <small>{{ this.title }}</small><br>
                    {{/each}}
                  </p>
                {{/if}}
                
                <div class="hide">
                          
                  <div class="medium-up--hide">
                    
                  </div>
                </div>

                <div class="hide">
                  <p>
                    {{#if discountsApplied}}
                      <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                      <br><span>{{{linePrice}}}</span>                 
                    {{else}}
                      <span>{{{linePrice}}}</span>       
                    {{/if}}
                  </p>

                  {{#if discountsApplied}}
                    <p>
                      {{#each discounts}}
                        <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                      {{/each}}
                    </p>
                  {{/if}}
                </div>
                </div>
              </div>
            </div>
          </div>
        {{/items}}

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
          <div>
            <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
          </div>
        {% endraw %}{% endif %}{% raw %}
      </div>
      
      <div class="ajaxcart-footer">
        <div class="ajax-cart__summary">
          {{#if totalCartDiscount}}
            <p class="ajaxcart__savings flex--center-between"><span>SAVINGS</span><span>{{{totalCartDiscount}}} USD</span></p>
          {{/if}}
          
          <p class="ajaxcart__subtotal flex--center-between">
            <span>SUBTOTAL</span><span>{{{totalPrice}}} USD</span>
          </p>

          <p class="ajaxcart__shipping-message">
            Shipping & taxes calculated at checkout
          </p>

          <p>
            <button type="submit" class="btn btn--block ajaxcart__btn-checkout" name="checkout">
              {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
            </button>
          </p>

          {% endraw %}
            {% if additional_checkout_buttons %}
            <div>
              {{ content_for_additional_checkout_buttons }}
            </div>
            {% endif %}
          {% raw %}
          
        </div>
      </div>
    </form>
  {% endraw %}
</script>


<script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__minus btn--link" data-id="{{key}}">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="icon icon-arrow-down" width="7px" height="4px" viewBox="0 0 7 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Product-Page-Mock-V2" transform="translate(-926.000000, -520.000000)" fill="#000000">
                    <g id="Group-13" transform="translate(819.000000, 484.000000)">
                        <g id="Group-11" transform="translate(63.000000, 0.000000)">
                            <g id="Group-10" transform="translate(44.000000, 13.000000)">
                                <polygon id="Arrow-Down" transform="translate(3.433860, 25.000000) rotate(-270.000000) translate(-3.433860, -25.000000) " points="2.49766544 22 1.67705041 22.9181034 3.53788167 25 1.67705041 27.0818966 2.49766544 28 5.19066968 25"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__plus btn--link" data-id="{{key}}">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="icon icon-arrow-up" width="7px" height="4px" viewBox="0 0 7 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Product-Page-Mock-V2" transform="translate(-926.000000, -497.000000)" fill="#000000">
                    <g id="Group-13" transform="translate(819.000000, 484.000000)">
                        <g id="Group-11" transform="translate(63.000000, 0.000000)">
                            <g id="Group-10" transform="translate(44.000000, 13.000000)">
                                <polygon id="Arrow-Up" transform="translate(3.433860, 2.000000) scale(1, -1) rotate(-270.000000) translate(-3.433860, -2.000000) " points="2.49766544 -1 1.67705041 -0.0818965517 3.53788167 2 1.67705041 4.08189655 2.49766544 5 5.19066968 2"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </button>
    </div>
  {% endraw %}
</script>
