<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
    <a href="#" class="js-drawer-open-left">
      {%- include 'icon-hamburger' -%}
      <span class="icon-fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
    </a>
    {% if template.name == 'index' %}
      <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <img class="lazyload"
                 src="{{ section.settings.logo | img_url: image_size }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 style="max-width: {{ section.settings.logo_max_width | escape }}px"
                 itemprop="logo">
            <noscript>
             <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  style="max-width: {{ section.settings.logo_max_width | escape }}px">
             </noscript>
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <a href="#" class="js-drawer-open-right">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      <span data-cart-count>{{ cart.item_count }}</span>
    </a>

    {% if shop.customer_accounts_enabled %}
      <ul>
        {% if customer %}
          <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li>
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      </ul>
    {% endif %}

    <form action="/search" method="get" role="search">
      <label for="Search" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>
      <input type="search"
             name="q"
             id="Search"
             value="{{ search.terms | escape }}"
             placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit" class="btn">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>

  </header>

  <nav role="navigation">
    <ul class="site-nav">
      {% for link in linklists[settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul class="site-nav__submenu site-nav__submenu--children-list">
              {% for childlink in menus[child_list_handle].links %}
                {% if childlink.links != blank %}
                  <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
                    <a href="{{ childlink.url }}" class="site-nav__link">
                      {{ childlink.title }}
                      {% include 'icon-arrow-down' %}
                    </a>
                    <ul class="site-nav__submenu site-nav__submenu--grandchildren-list">
                      {% for grandchildlink in childlink.links %}
                        <li {% if grandchildlink.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ grandchildlink.url }}" class="site-nav__link">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }
{% endschema %}
